@mixin title-style {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
}

.dashboard {
  padding: 16px;
  margin: 0 10%;
  position: relative;
  padding: 16px calc(16px + 10%);
  overflow-y: auto;
}

h1.slackable-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

h2.default-theme-title {
  @include title-style();
}

.dark-mode-switcher {
  position: absolute;
  right: 15px;
}