@mixin title-style {
  opacity: 1;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold
}

.dashboard {
  padding: 16px;
}

h2.colorpickers-title, h2.default-theme-title {
  @include title-style();
}