@import "dashboard.scss";
@import "sidebar.scss";
@import "index.scss";

.image-upload {
  border: 2px solid darkgrey;
  color: gray;
  border-radius: 4px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

.image-input {
  position: relative;
  height: 200px;
  line-height: 200px;

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.preview-spinner {
  height: 30px!important;
  width: 30px!important;
  margin-bottom: -8px!important;
}

.resend-button {
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  font-size: 15px;
  min-width: 80px;
  margin: 5px 0;
  padding: 0 12px 1px;
  font-family: $default-font-family;
  @include input-style();
}