.theme-label {
    display: inline-flex;
    margin: 0 32px 32px 0; 

    .theme-button {
        margin: 0 12px 0 0;
    }
    
    .theme-thumb {
        width: 110px;
        height: 60px;
        border-radius: 6px;
        margin-top: 8px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    }
}