@import 'colors';

$default-font-size: 0.9375rem;
$user-font-size: 0.875rem;
$title-font-size: 1.125rem;

@mixin remove-margin-and-padding {
  padding: 0;
  margin: 0;
}

@mixin bold-font {
  font-weight: bold;
}

@mixin right-float {
  float: right;
}

.sidebar {
  background-color: $purple;
  color: #fff;
  font-size: $default-font-size;
}

.company-name {
  font-size: $title-font-size;
}

.username {
  font-size: $user-font-size;
  margin: 5px 0px 0px 0px;
}

.find-input {
  width: 92.5%;
  border-radius: 4px;
  padding: 7.5px;
  border: none;
  font-size: $user-font-size;
  margin-right: 10px;

  &:focus {
    outline: none;
  }
}

.threads, .invite-people {
  margin: 25px 0 25px 0;
}

input {
  background-color: rgba(255,255,255,0.15);
}

h2 {
  font-size: $default-font-size;
  margin-bottom: 5px;
  @include bold-font;
}

h1 {
  @include remove-margin-and-padding();
  @include bold-font();
}

ul {
  list-style-type: none;
  line-height: 1.55;
  @include remove-margin-and-padding();

  li:last-child {
    margin-bottom: 25px;
  }
}

.bell-icon {
  font-size: 1.25rem;
}

.down-icon {
  font-size: 0.75rem;
}

.plus-icon, .bell-icon {
  @include right-float();
}

.sidebar-menu, .sidebar-nav {
  padding: 16px;
}

.sidebar-nav {
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h2, a, p, .plus-icon, .bell-icon, .down-icon {
  opacity: 0.75;
}