@import 'colors';
@import 'sizing';

$default-font-size: 0.9375rem;
$user-font-size: 0.875rem;
$title-font-size: 1.125rem;

@mixin remove-margin-and-padding {
  padding: 0;
  margin: 0;
}

@mixin bold-font {
  font-weight: bold;
}

@mixin right-float {
  float: right;
}

@mixin left-float {
  float: left;
  margin-right: 10px;
}

@mixin partial-opacity {
  opacity: 0.75;
}

@mixin input-style {
  border-radius: 4px;
  padding: 7.5px;
  font-size: $user-font-size;
  margin-right: 10px;
}

@mixin lighter-border {
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.3);   
}

.sidebar {
  background-color: $purple;
  color: #fff;
  font-size: $default-font-size;
  overflow-y: auto;
  width: $sidebar-width;
  
  .sidebar-menu {
    padding: 16px;

    .company-name {
      font-size: $title-font-size;
    }
    
    .username {
      font-size: $user-font-size;
      margin: 5px 0px 0px 0px;
    }

    .down-icon {
      font-size: 0.75rem;
      @include partial-opacity();
    }

    .edit-icon {
      @include right-float();
      margin-top: 2.5px;
    }
  }

  .sidebar-nav {
    @include lighter-border();

    .plus-icon {
      @include right-float();
    }

    .chat-options {
      @include lighter-border();
    }

    .down-icon {
      @include left-float();
    }
  }

  h2 {
    font-size: $default-font-size;
    @include bold-font();
    @include partial-opacity();
  }
  
  h1 {
    @include remove-margin-and-padding();
    @include bold-font();
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    @include partial-opacity();
  }

  p {
    @include partial-opacity();
  }

  .options-container {
    list-style-type: none;
    line-height: 2;
    margin: 0;
    padding: 16px 0px 0px 0px;

    li {
      text-indent: 1em;
    }
  
    li:last-child {
      margin-bottom: 32px;
    }
  }

  .channels-container, .messages-container, .apps-container {
    padding: 16px 10px;
  }

  .channels, .direct-messages, .apps {
    @include remove-margin-and-padding();
  }

  .channels-list, .messages-list {
    list-style-type: none;
    line-height: 1.75;
    @include remove-margin-and-padding();

    li {
      text-indent: 1em;
    }

    li:last-child {
      margin-bottom: 30px;
    }
  }
}

h2, a, p, .down-icon {
  opacity: 0.75;
}

.mention-badge {
  visibility: hidden;
}

.front-end-set-up .mention-badge {
  @include right-float();
  visibility: visible;
  border-radius: 12.5px;
  font-size: 0.75rem;
  font-weight: 900;
  margin-top: 3.5px;
  margin-right: 10px;
  padding-right: 12.5px;
}