.workspaceSideBar {
    display: flex;
    flex-direction: column;
    background-color: #3F0E40;
    color: white;
    padding: 0;
    margin: 0;
    opacity: .9;
}

.workspaceList {
    padding: 1.5em;

}